<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Grocery Buddy</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login" class="btn">Login</a></li>
                <li><a href="/signup" class="btn">Sign Up</a></li>
                <li><a href="#" class="btn disabled">Login With Google</a></li>
               
              </ul>
                
            </div>
      
    </nav>
      
    <div class="container center">
      
            
                <h4>Start Using Grocery Buddy Now</h4>
                
                    <div class="row center">
                       

                            
                            
                           <div class="col s12"> <a href="/items" class="btn"> Login as a guest</a></div>
                          
                     
               
                 
                    </div>
              
            
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>