<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Grocery Buddy</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container center">

        <h1>Enter Grocery Item</h1>
    </div>
   
   


<div class="container center">
    <form action="/todos/createTodo" method='POST' class="container ">
        <input type="text" placeholder="Enter Item Name" name='todoItem'>
        <input type="text" placeholder="Enter Store Name" name='storeName'>
        <input type="number" placeholder="Enter Item Price" name="price" step="00.01">
        
        <input type="submit">
    </form>
    <br>
</div>
<div class="container center">

    
    <ul>
        <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span>Grocery Item: <%= el.todo%></span>
                <span>Store Name: <%= el.storeName%></span>
                <span>Price: $<%= el.price%></span>
                
                <!-- <form action="/todos/editPrice" method="PUT">
                    <input type="number" step="0.01" placeholder="Update Price">
                </form> -->
                
                <span class='del'><i class="material-icons">delete</i></span>
            </li>
            <% }) %>    
        </ul>
    </div>
        
        <script src="js/main.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
    </html>